.primary-button{
    position: relative;
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border: 2px solid #54A45F;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 4px;
    font-weight: 500;
    color: white;
    overflow: hidden;
    display: inline-block; 
}
.primary-button::before {
    content: '';
    position: absolute;
    top: 0; /* Start position below the link */
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #54A45F; /* Background color on hover */
    transition: top 0.3s ease-in-out; /* Animation timing */
    z-index: -1; /* Place behind the text */
}
.primary-button:hover::before {
    top: 100%; /* Move to visible area on hover */
}

.primary-button::after {
    content: ''; /* Ensure no extra content */
}
.card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* box-shadow: 0 8px 32px rgba(48, 132, 90, 0.37); */
}

  
.secondary-button {
    position: relative;
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border: 2px solid #54A45F;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 4px;
    font-weight: 500;
    color: white;
    overflow: hidden;
    display: inline-block; /* Ensure the link fits the content */
}

.secondary-button::before {
    content: '';
    position: absolute;
    top: 100%; /* Start position below the link */
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #54A45F; /* Background color on hover */
    transition: top 0.3s ease-in-out; /* Animation timing */
    z-index: -1; /* Place behind the text */
}

.secondary-button:hover::before {
    top: 0; /* Move to visible area on hover */
}

.secondary-button::after {
    content: ''; /* Ensure no extra content */
}