.card {
    position: relative;
  }
  
  .slide-in-overlay {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #212429;
    color: fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: left 0.5s ease-in-out;
    z-index: 10;
    padding: 1rem;
  }
  
  .card:hover .slide-in-overlay {
    left: 0;
  }
  
  .slide-in-content {
    text-align: center;
  }
  
  .slide-in-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  