@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #212429;
  font-family: 'Lato', sans-serif;
}
main{
  min-height: 80vh;
  margin-top: 100px;
}
h1,h2,h3,h4,h5{
  letter-spacing: 1px;
}
p{
  line-height: 1.7;
}